.page {
  section{
    .theme-reco-content:not(.custom){
      a:hover{
        text-decoration: none;
      }
  }
  .page-title{
    display:none
  }
  }
  
} 
.home-blog{
  .hero{
    color: #FFF;
    h1{
      font-size: 120px;
    }

  }
}

a{
  text-decoration: none;
}