// Theme's Palette
@import("E:/laragon/www/ComponentDocumentation/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("E:/laragon/www/ComponentDocumentation/docs/.vuepress/styles/palette.styl")